/* DEVELOPER Art Of OSeghale Akhimien, IS117-004, Spring 2024 */
body {
  background-color: lightgrey;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: purple;
}

.content p {
  font-family: cursive;
  font-size: 115%;
  font-weight: bold;
}

.card p {
  font-weight: bold;
  font-size: 115%;
}

.btn-download {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.btn-download:hover {
  background-color: #45a049;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h2 {
  font-style: italic;
  font-weight: bold;
}
