body {
    background-color: black;
}

.pink-section {
    color: pink;
}

.nav-link {
    font-family: cursive;
    color: green !important;
}

.navbar-brand img {
    display: block;
    margin: 0 auto;
}

.card {
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
}
